<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <section class="Log-Sign">
    <div class="form-box">
        <div class="form-value">
            <% if (success && success.length > 0) { %>
              <div class="alert alert-success"><%= success %></div>
            <% } %>
            <% if (err && err.length > 0) { %>
              <div class="alert alert-danger"><%= err %></div>
            <% } %>
            <form action="/ResetPassword/<%= token %>" method="post">
                <h2>Reset Password</h2>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" placeholder="" required minlength="6">
                    <label>New Password</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="confirmPassword" placeholder="" required minlength="6">
                    <label>Confirm Password</label>
                </div>
                <button type="submit">Reset Password</button>
                <div class="register">
                    <p>Back to <a href="/Login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
  </section>
  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>
